.HeaderContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.SheetContainer__Header {
  padding-left: 2.1rem;
}
.HeaderContainer__Horizontal {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.SheetContainer__GridContainer {
  display: flex;
}

.SheetContainer__Grid {
  display: grid;
  grid-template-columns: repeat(26, 100px);
  grid-gap: 0;
}
