.HeaderContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.HeaderContainer__Horizontal {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
