.CellContainer {
  border: 1px solid #d3dedc;
  outline: none;
}
.CellContainer:focus{
  border: 2px solid rgb(136, 205, 228);
}
.Cell__Value {
  border: none;
  outline: none;
  width: 100%;
  padding: 0;
  height: 100%;
  margin: 0;
}
.Cell__Value:focus {
  border: 2px solid  rgb(136, 205, 228);
}
.Cell__Value:hover {
  cursor: cell;
}
